<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949353529277-0ujo6os0ps07u3c8oo4dlk7ml48pqom1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949353529277-0ujo6os0ps07u3c8oo4dlk7ml48pqom1</string>
	<key>API_KEY</key>
	<string>AIzaSyBkWCQKoi4wsQ54aPzlJV9qWoMsTFky1jE</string>
	<key>GCM_SENDER_ID</key>
	<string>949353529277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exampleScavExplorer.scavExplorerFirebaseEx</string>
	<key>PROJECT_ID</key>
	<string>scavexplorerloginexample</string>
	<key>STORAGE_BUCKET</key>
	<string>scavexplorerloginexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949353529277:ios:131039f02b5d21c0655cd4</string>
	<key>DATABASE_URL</key>
	<string>https://scavexplorerloginexample.firebaseio.com</string>
</dict>
</plist>